
  @import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
  /*font-family: 'Droid Arabic Naskh', serif;*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/ 

.container {
/*  max-width: 1000px;*/
  margin: 0;
  width: 100%;
  
}


body {
  font-family: 'Droid Arabic Naskh', serif; 
  overflow: auto;
}

header {
  background: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../images/comm_health_center.jpg) center center no-repeat;
  /*multiple backgrounds - rgba*/
	background-size: cover;
 
}

#story-one {
   background: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, .1)), url(../images/Woman.JPG) center center no-repeat;
  /*multiple backgrounds - rgba*/
  background-size: cover;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#filler-one {
  height: 20px;
}

#story-two {
   background: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, .1)), url(../images/motherdaughter.jpg) center center no-repeat;
  /*multiple backgrounds - rgba*/
  background-size: cover;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#story-three {
   background: linear-gradient(to right, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), url(../images/Nursetwo.jpg);
  /*multiple backgrounds - rgba*/
  background-size: cover;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

main {
  background: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, .1)), url(../images/stethescope.jpg) center center no-repeat;
  background-size: cover;
  margin: 0px;
}

h1 {
  font-size: 120px;
  color: #A72546;
  padding-top: 50px;
  padding-bottom: 50px;
}


#navigation {
  color: black;
  text-align: center;
  background-color: #6B718C;

}

.info-section {
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
}


.main-information {
  font-size: 25px;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: white;
  font-weight: 1px;
}

a:hover {
  color: #A72546;
}

ul {
  list-style-type: none;
  clear: both;
  text-align: center;
}

li {
  font-size: 21px;
  color: #ffffff;
  font-weight: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

}

.information {
  background: #ffffff;
}


#quote-one {
  font-size: 25px;
  font-family: helvetica;
  color: white;
  font-weight: 5px;

}

.vignette {
  background-color: white;
}


  
  .grayed-out {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

section {
	padding-top: 20px;
	padding-bottom: 20px;
  bottom-border: #ffff66;
}

.main-header {
  color: #A72546;
  font-weight: 80px;
  font-size: 35px;
  padding-right: 30px;

}

footer {
  background-color: #EBEDF2;
  text-align: center;
  margin: auto;

  
}

.email p {
  font-size: 15px;
  padding-top: 15px;
  font-family: arial;
  color: #A72546;

}

.phone-number p {
  font-size: 20px;
  color: #A72546;
  padding-bottom: 5px;
}

.underline {
text-decoration: underline;
}

.preference-box {
  text-align: center;
}


.style-one {
    border: 0;
    height: 1px;
    background: #660066;
    background-color linear-gradient(to right, #ccc, #333, #ccc);


}

#quote {
  color: white;
  font-size: 20px;
  line-height: 50px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}


input[type="submit"] {
  font-size: 20px;
  text-align: center;
  background-color: #A72546;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #A72546;
  border-radius: 10px;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
}

.button-box {
  padding-bottom: 15px;
  text-align: center;

}

#story-three #quote {
  color: black;
}

label {
  font-size: 20px;
  padding: top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.preference {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

input {
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
}


#errorMessage {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #A72546;
}

.reg-line {
  padding-top: 10px;
  padding-bottom: 10px;
}

.email-line {
padding: top: 15px;

}

.registration .row {
  padding-top: 15px;
  padding-bottom: 15px;
}

#social-media {
  height: 20px;
  text-align: center;
}

.hidden-hamburger {
  display: none;
}

.hidden-list {
  display: none;
  text-align: right;
}

.hidden-list li {
  font-size: 10px;
}

.submit-button {
  text-align: center;
}

/*media*/

@media screen and (max-width: 768px) and (min-width: 400px) {

  .displayed-list li{
    display: none;
  }

  .hidden-hamburger {
    display: block;
    text-align: right;
    padding-right: 30px;
  }

  .info-section {
    width: 100%;
    padding: right: 30px;
    padding-left: 30px;
  }

  h4 {
    font-size: 15px;
  }

  .info-section p {
    font-size: 15px;
    width: 100%;
  }

  h1 {
    font-size: 30px;
  }

  .main-header {
    font-size: 15px;
  }

  .main-information {
    width: 100%;
  }

  footer {
    width: 100%;
  }

#quote {
  font-size: 15px;
  width: 100%;
}

#story-one {
  width: 100%;
}

.button-box {
  text-align: right;
}

.preference-box {
  text-align: right;
}

.preference {
  text-align: right;
}


}

